<section class="pagina">
    <h1>
        A história do underground
    </h1>
    <p>
        O movimento de música underground no Brasil tem uma história rica e diversificada, que se espalha por vários gêneros e regiões. Ele se caracteriza principalmente por sua resistência ao mainstream e pela busca por formas alternativas de expressão musical e cultural.
        Nos anos 1980, o movimento ganhou força, com a cena punk, hardcore e pós-punk se destacando. Bandas como Ratos de Porão, Inocentes, Cólera, e Replicantes foram algumas das pioneiras dessa época, protestando contra a censura e as injustiças políticas do período da ditadura militar.
        Nos anos 90, o movimento underground se diversificou, com a ascensão de novos estilos como o grunge, o rap nacional, o hardcore melódico, o metal e o hip hop. A cena alternativa das cidades grandes, como São Paulo, Rio de Janeiro e Belo Horizonte, também foi essencial para a evolução da música underground, com coletivos e pequenos espaços de shows promovendo novas experiências musicais.
        Além disso, o tecnobrega, um subgênero da música eletrônica do Pará, e o forró eletrônico também têm elementos underground, com artistas criando alternativas para um público que não se conecta com o mercado comercial.
        Hoje, o movimento underground brasileiro se mantém forte, com espaços como festas, eventos em locais alternativos, festivais independentes e plataformas online que ajudam a divulgar músicas independentes. A cena também é notável pela inclusão de várias vertentes culturais, como o rap, trap, rock, metal, e outros gêneros que continuam a desafiar normas e padrões comerciais.
    </p>
    <h3>
        Punk e Hardcore nos Anos 1980
    </h3>
    <div class="containerPunk">
        <p class="textoPunk">
            Nos anos 1980, o Brasil vivia um contexto político complexo, com o fim da ditadura militar (1985) e uma transição para a democracia, o que gerou uma onda de protestos. O movimento punk, principalmente, teve uma forte influência nesse cenário. Bandas como Ratos de Porão, Cólera, Inocentes, Garotos Podres e Restos de Nada se destacaram, misturando mensagens de protesto social e político com uma sonoridade rápida e agressiva.
            O punk brasileiro também se caracterizou por sua independência. Muitos desses artistas não estavam ligados às grandes gravadoras e, em vez disso, usavam o faça você mesmo (DIY) como lema, criando suas próprias gravações, fanzines, capas de discos e organizando suas próprias turnês. A ideia era formar uma cena que fosse independente da indústria musical tradicional.
        </p>
        <img src="../public/img/punk.jpg" alt="Imagem do movimento punk" class="fotoPunk">
    </div>
    <h3>
        O "Underground" no Rock e no Metal
    </h3>
    <div class="containerLegiao">
        <p class="textoLegiao">
            A cena de rock underground no Brasil também teve um grande impulso a partir dos anos 80, com a chegada de bandas que misturavam o rock alternativo e o metal. No Rio de Janeiro, por exemplo, a Legião Urbana e o Engenheiros do Hawaii traziam uma abordagem mais lírica e introspectiva, enquanto em São Paulo, bandas como Titas, Capital Inicial, e Barão Vermelho estavam mais relacionadas ao movimento de rock mais voltado para o mainstream. No entanto, o verdadeiro "underground" nesse período se deu com o movimento de metal e o hardcore, com bandas como Sepultura (que começou de forma independente e foi para o sucesso mundial) e Korzus se destacando.
            Além disso, o rock alternativo, mais experimental e de vanguarda, também teve seu espaço com artistas como Os Mutantes, que foram parte da Tropicália (movimento de vanguarda dos anos 60) e se mantiveram com uma pegada mais alternativa ao longo dos anos.
        </p>
        <img src="../public/img/legiao.jpg" alt="Foto da Legião Urbana" class="fotoLegiao">
    </div>
    <h3>
        Rap e Hip Hop no Brasil
    </h3>
    <div class="containerRap">  
        <img src="../public/img/racionais.jpeg" alt="Foto dos Racionais MC's" class="fotoRacionais">
        <p class="textoRap">
            O rap e o hip hop têm uma conexão forte com o movimento underground no Brasil. A cultura hip hop, que começou nas periferias de Nova York nos anos 70, encontrou no Brasil uma enorme adesão nas décadas seguintes. No Brasil, o rap se tornou uma poderosa ferramenta de expressão das classes populares, com letras que abordam temas como desigualdade social, violência policial e a vida nas favelas.
            Artistas como Racionais MC's, Emicida, Criolo e MV Bill fizeram parte dessa cena. Racionais, por exemplo, começou a carreira no underground, fazendo letras que falavam diretamente sobre as dificuldades de viver na periferia e as injustiças sociais. A cena hip hop brasileira, com sua rima afiada e crítica social, permaneceu com um caráter independente, longe do mainstream da música pop.
            Nos anos 2000, o trap, uma variação mais recente do hip hop, também encontrou seu espaço na cena underground brasileira, com artistas como Froid, Djonga e Baco Exú do Blues se destacando.
        </p>
    </div>
    <h3>
        Tecnobrega e Música Eletrônica
    </h3>
    <p>
        O tecnobrega é um dos gêneros que mais explodiu no Pará e em outras regiões do Norte, tornando-se uma verdadeira forma de resistência à hegemonia musical comercial. O tecnobrega mistura ritmos dançantes com elementos da música eletrônica e, em sua essência, tem uma sonoridade caseira e DIY, com artistas como Gaby Amarantos e Banda Uó conquistando visibilidade. Embora tenha se tornado popular em algumas áreas, ele começou como uma cena underground, sendo produzido de forma independente, com artistas gravando suas músicas em estúdios caseiros e vendendo seus álbuns diretamente nas festas e nas ruas.
        A cena de música eletrônica underground no Brasil também está muito ligada aos raves, onde os DJs de diferentes vertentes de house, techno, trance e drum and bass se encontram em festas secretas e eventos alternativos, longe dos grandes clubes e festivais comerciais.
    </p>
    <h3>
        Música Independente Hoje
    </h3>
    <p>
        Atualmente, o movimento underground brasileiro é muito mais plural e conectado ao universo digital. A internet tornou possível que qualquer artista independente tenha acesso a plataformas como SoundCloud, Bandcamp, YouTube e Spotify, possibilitando a divulgação de seus trabalhos sem depender das grandes gravadoras.
        Com isso, surgiram muitos coletivos, como Selo Risco, Selo Lâmina, Coletivo Tudo É Uma Farsa, e Festa Ploc, que promovem festas e eventos em locais alternativos e ajudam a distribuir música de forma independente. Além disso, o Brasil tem uma enorme cena de musica experimental, que vai do noise, ao punk experimental, ao psicodélico.
        Artistas como Liniker e os Caramelows, Boogarins e BaianaSystem são alguns exemplos que, embora com estilos diversos, continuam a explorar e a preservar essa estética de resistência ao mainstream, mostrando que o underground nunca deixou de ser uma força vibrante na música brasileira.
    </p>
    <h3>
        Cultura DIY e Resistência
    </h3>
    <p>
        Algo que une muitos desses movimentos é a filosofia "faça você mesmo" (DIY), que permeia desde a produção de música, a organização de eventos, até a criação de suas próprias roupas e materiais de divulgação. A ideia de resistência ao sistema e à indústria cultural, que muitas vezes engole a originalidade em busca de lucro, está no coração do movimento underground brasileiro. Para muitos, o underground é um espaço de liberdade criativa, de expressão sem censura, onde se pode inovar e se conectar com públicos que compartilham das mesmas experiências e frustrações.
        A cena continua a evoluir, sendo um espaço importante para novas gerações de artistas e ouvintes que buscam algo mais autêntico e pessoal, longe das fórmulas comerciais.
    </p>
</section>

<style>

    .pagina {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 40px;
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 1.8em;
        margin-top: 40px;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    p {
        font-size: 1.1em;
        line-height: 1.6;
        text-align: justify;
        color: #555;
    }
    
    section {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .containerPunk {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 40px;
    }

    .textoPunk {
        flex: 1; 
        font-size: 1.1em;
        line-height: 1.6;
        text-align: justify;
        margin-right: 20px;
    }

    .fotoPunk {
        width: 40%; 
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        object-fit: fill;
        margin-bottom: 45px;
    }

    .containerRap {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 40px;
        gap: 30px;
    }

    .textoRacionais {
        flex: 1; 
        font-size: 1.1em;
        line-height: 1.6;
        text-align: justify;
        margin-right: 20px;
    }

    .fotoRacionais {
        width: 40%; 
        max-width: 400px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        object-fit: fill;
        margin-bottom: 45px;
    }

    .containerLegiao {
    text-align: center;
    margin-bottom: 40px;
    }

    .fotoLegiao {
        display: block;
        margin: 0 auto 20px; 
        width: 60%; 
        max-width: 500px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .textoLegiao {
        font-size: 1.1em;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 40px;
    }


</style>