<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underground$ - HOME</title>
    <link rel="shortcut icon" type="imagex/png" href="../public/linkico.ico">
</head>
<body>
    <header>
        <nav class="menu">
            <img src="../public/linkdozaplogo.png" alt="Logo Underground" class="logo">
            <a href="/link">LinkdoZap</a>
            <a href="/chard">ChardlaPlaga</a>
            <a href="/ugo">Ugovhb</a>
            <a href="/ef">EF</a>
        </nav>
    </header>
    <main class="pagina">

    </main>
    <footer>

    </footer>
</body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }

     .logo {
        width: 100px;
    }

    .menu {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
        padding: 0 50px; 
        box-sizing: border-box; 
        border-bottom: 1px solid grey;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
    }

    a {
        color: black;
        text-decoration: none;
        margin-left: 20px;
        text-shadow: 1px 3px grey; 
    }

    .menu a:last-child {
        margin-right: 150px;
    }

    a:hover {
        color: grey; 
        text-shadow: 1px 1px 10px grey; 
    }

    .pagina {
        background-color: black;
        height: 100%;

    }

    @media (max-width: 768px) {
        .menu {
            display: flex;
            align-items: center;
            flex-direction: column; 
            padding: 20px;
        }

        a {
            margin-left: 0; 
            margin-top: 20px; 
        }

        .menu a:last-child {
        margin-right: 0px;
        }
    }
</style>