<section class="pagina">
    <h1>
        A história do underground
    </h1>
    <p>
        A Contracultura é um movimento de contestação social e cultural que encontra-se
        presente nas cenas undergrounds musicais do mundo inteiro, mesmo depois de mais
        de meio século do seu surgimento. E na cena musical de Recife não é diferente.
        Na cena local existe um engajamento social e mobilização de alguns protagonistas
        que trazem suas contribuições voluntárias em prol da melhoria, expansão e evidência
        da cena cultural underground pernambucana. Este Rádio documentário traz entrevistas
        com músicos, produtores, artistas e público da cena musical recifense engajados
        nas causas sociais da Contracultura como produção de conteúdo underground,
        mesclando com ações sociais e conscientização sobre os males vividos na 
        sociedade como discriminação racial, social, de gênero, cultural e de classe,
        abordando a função de cada membro em fazer uma cena melhor e mais contestadora,
        quebrando os paradigmas do modelo social tradicional e trazendo à tona um modelo 
        inclusivo de grupos sociais para comunidades, casas de shows, bares, festivais 
        entre outras modalidades.
    </p>
</section>

<style>
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-content: center;
        display: flex;
    }

    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline;
        justify-content: center;
        align-items: center;
    }

    .pagina{
        height: 500px;
    }

</style>